header{
  background:{
    color: $accentColor;
  };
  a{
    color: $white;
    text-transform: uppercase;
    font:{
      family: $MonserratBold;
      size: 4.2rem;
    }
  }
}

@media screen and (max-width: $table){
  header{
    font:{
      size: 3.6rem;
    }
  }
}

@media screen and (max-width: $mobile){
  header{
    font:{
      size: 2.4rem;
    }
  }
}