html{
  font:{
    size: 10px;
  }
}
body{
  font:{
    family: 'Monserrat'
  }
}
a:hover, a:focus{
  cursor: pointer;
  text-decoration: none;
}
li{
  list-style-type: none;
}
.flex-loading-wrapper{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.content-section{
  padding-top: 30px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $black;
  font:{
    size: 1.5rem;
    family: $Monserrat;
  }
}
::-moz-placeholder { /* Firefox 19+ */
  color: $black;
  font:{
    size: 1.5rem;
    family: $Monserrat;
  }
}
:-ms-input-placeholder { /* IE 10+ */
  color: $black;
  font:{
    size: 1.5rem;
    family: $Monserrat;
  }
}
:-moz-placeholder { /* Firefox 18- */
  color: $black;
  font:{
    size: 1.5rem;
    family: $Monserrat;
  }
}