.sidebar-wrapper{
  padding: 0 35px;
  .update-link-wrapper{
    float: none;
    margin-top: 40px;
  }
  .contact-wrapper{
    a{
      line-height: 3rem;
      color: $sidebarLink;
      font:{
        size: 2.4rem;
      }
    }
    i{
      font:{
        size: 2.4rem;
      }
      position: absolute;
      margin-left: 5px;
      margin-top: 7px;
      border-top: 7px solid transparent;
      border-left: 14px solid $sidebarLink;
      border-bottom: 7px solid transparent;
    }
  }
  .popular-wrapper {
    margin-top: 40px;
    .popular-content{
      ul{
        padding: 0;
        li{
          border-bottom: 1px solid $accentColor;
          h3{
            font:{
              family: $MonserratBold;
              size: 1.2rem;
            }
          }
          p{
            font:{
              size: 1.2rem;
            }
          }
        }
      }
    }
  }
  .column-header{
    border-top: 1px solid $accentColor;
    color: $accentColor;
    background-color: $sidebarHeaders;
    padding: 8px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    i{
      margin-right: 15px;
    }
    span{
      font:{
        family: $MonserratLight;
      }
    }
  }
  .rc-collapse{
    border: none;
    .column-header{
      border-top: 1px solid $white;
      font:{
        size: 1.6rem;
      }
    }
  }
  .rc-collapse > .rc-collapse-item > .rc-collapse-header .arrow{
    display: none;
  }
  .rc-collapse > .rc-collapse-item > .rc-collapse-header{
    height: auto;
    line-height: 0;
    text-indent: 0;
  }
  .arrow-menu{
    position: absolute;
    right: 45px;
  }
  .archive-wrapper{
    margin-top: 20px;
  }
  .panel-wrapper{
    ul{
      padding: 0;
      margin: 0;
      li{
        padding: 5px;
        border-bottom: 1px solid $accentColor;
        &:last-child{
          border: none;
        }
        a{
          display: flex;
          justify-content: space-between;
          span{
            color: #636363;
            font:{
              size: 1.6rem;
              family: $MonserratLight;
            }
          }
        }
      }
    }
  }
  .rc-collapse-content{
    padding: 0;
  }
  .rc-collapse-content > .rc-collapse-content-box{
    margin: 0;
  }
  .rc-collapse-item-active{
    .arrow-menu{
      transform: rotate(180deg);
    }
  }
}
@media screen and (max-width: $table){
  margin-top: 60px;
}