@font-face {
  font-family: 'Monserrat';
  src: url('/src/fonts/Montserrat-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Monserrat-Bold';
  src: url('/src/fonts/Montserrat-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Monserrat-Light';
  src: url('/src/fonts/Montserrat-Light.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Monserrat-Medium';
  src: url('/src/fonts/Montserrat-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}