// Background Colors
$accentColor: #aaaa90;
$sidebarHeaders: #eeeee9;

// Text Colors
$black: #000000;
$white: #ffffff;
$darkGrey: #333333;
$sidebarLink: #698095;

//Text Fonts
$Monserrat: 'Monserrat';
$MonserratBold: 'Monserrat-Bold';
$MonserratLight: 'Monserrat-Light';
$MonserratMedium: 'Monserrat-Medium';

//Media
$laptop: 1200px;
$table: 991px;
$mobile: 768px;
