.preview-article-wrapper{
  margin-bottom: 70px;
  border-bottom: 1px solid $accentColor;
  height: 242px;
  .image-article-wrapper{
    position: relative;
  }
  .flex-article-preview{
    display: flex;
    flex-direction: row;
    .preview-photo{
      width: 50%;
    }
    .preview-meta{
      width: 50%;
    }
  }

  .publish-date-wrapper{
    position: absolute;
    left: 0;
    top: 0;
    background:{
      color: $accentColor;
    }
    color: $white;
    padding: 6px 7px 6px 1px;
    text-shadow: 0px 1px 0px rgba(170, 170, 144, 0.004);
    display: flex;
    flex-direction: row;
    transform: rotate(90deg) translate(0, 0);
    transform-origin: 25px 25px;
    .publish-date{
      transform: rotate(270deg);
      h3{
        margin: 0;
        padding:2px;
        font: {
          family: $MonserratMedium;
          size: 3.2rem;
        }
        border-bottom: 1px solid #717151;
      }
    }
    .publish-day{
      padding-left: 10px;
      padding-right: 5px;
      font:{
        size: 1.4rem;
      }
      p{
        margin: 0;
        font: {
          family: $MonserratMedium;
        }
      }
      span{
        font: {
          family: $MonserratLight;
        }
      }
    }
  }
  .content-article-wrapper{
    padding-left: 20px;
    height: 100%;
    position: relative;
    h3{
      padding-bottom: 50px;
      margin: 0;
      font:{
        size: 2rem;
        family: $MonserratBold;
      }
    }
    a{
      color: $accentColor;
      &:hover, &:active{
        text-decoration: underline;
      }
      position: absolute;
      right: 15px;
      bottom: 10px;
    }
  }
}

@media screen and (max-width: $laptop){
  .preview-article-wrapper{
    height: auto;
    .image-article-wrapper{
      img{
        width: 100%;
      }
    }
    .content-article-wrapper{
      padding-top: 20px;
      padding-left: 0;
      a{
        position: static;
        float: right;
        padding-bottom: 10px;
      }
    }
  }
}

@media screen and (max-width: $table){

}

@media screen and (max-width: $mobile){

}