/**
 * Created by Artyom on 14.02.2017.
 */
.pagination-wrapper{
    ul{
        padding: 0;
        text-align: center;
        li{
            display: inline-block;
            margin-left: 5px;
            a{
                color: $black;
                font:{
                    size: 1.4rem;
                    family: $Monserrat;
                }
                padding: 2px 6px;
                border: 1px solid transparent;
            }
            i{
                color: $accentColor;
                font:{
                    size: 2.4rem;
                }
            }
        }
        .active-page{
            a{
                background-color: $accentColor;
                color: $white;
                border-radius: 6px;
            }
        }
        .previous, .next{
            position: relative;
            top:3px;
        }
        .previous{
            margin-right: 5px;
        }
        .next{
            margin-left: 5px;
        }
    }
}