.comments-list{
  padding-bottom:50px;
  h1{
    padding-top: 30px;
  }
  .main-comments{
    border-bottom: 1px solid $accentColor;
  }
  .reply-list{
    margin-left: 30px;
    padding-top: 10px;
    border-bottom: 1px dashed black;
  }
  ul{
    li{
      margin-bottom: 30px;
    }
    padding: 0;
    .user-name{
      color: $accentColor;
      font:{
        family: $MonserratBold;
        size: 1.8rem;
      }
    }
    .user-email{
      color: #698095;
      font:{
        family: $Monserrat;
        size: 1.4rem;
      }
    }
    .user-message{
      font:{
        family: $Monserrat;
        size: 1.6rem;
      }
    }
  }
}