
.input-wrapper{
  display: flex;
  .name{
    width: 70%;
  }
  .email{
    width: 30%;
    margin-left: 20px;
  }
  input{
    border: 1px solid $accentColor;
    outline: none;
    padding: 8px 10px;
  }
}
#form-text{
  margin-top: 10px;
  width: 100%;
  outline: none;
}
.submit-wrapper{
  text-align: center;
  padding: 20px 0 60px 0;
  input{
    background-color: $accentColor;
    border: none;
    outline: none;
    color: $white;
    border-radius: 10px;
    font:{
      size: 1.8rem;
    }
    padding: 10px 120px;
    &:hover{
      background-color: #77775a;
    }
  }
}
@media screen and (max-width: $mobile){
  .submit-wrapper{
    input{
      padding: 10px 30px;
    }
  }
}