.content-section{
  .col-md-9{
    padding: 0;
  }
}
.update-link-wrapper{
  background-color: $accentColor;
  padding: 10px;
  border-radius: 5px;
  float: right;
  margin-top: 10px;
  margin-bottom: 40px;
  &:hover{
    background-color:$sidebarHeaders;
    a{
      color: $accentColor;
    }
  }
  a{
    color: $white;
    text-decoration: none;
    display: block;
    font:{
      size: 1.8rem;
      family: $Monserrat;
    }
  }
}
.post-view{
  .full-article{
    flex-direction: column;
    border-bottom: none;
    height: auto;
    .text-post-content{
      h1{
        margin-top: 65px;
        margin-bottom: 35px;
        font:{
          size: 3.6rem;
          family: $MonserratBold;
        }
      }
      p{
        width: 101%;
        margin-bottom: 25px;
        font:{
          size: 1.4rem;
        }
      }
      h3{
        margin: 15px 0;
        padding: 15px 0;
        font:{
          size: 1.8rem;
        }
      }
    }
  }
}